{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'crossword/style.css' %}"
/>
{% endblock %} {% block content %}
<div
  class="base_banner"
  style="background-image: url('/static/img/crossword_banner.png')"
>
  <div class="banner_title">
    <h1>
      TRÒ CHƠI <br />
      LUYỆN TẬP {{level}}
    </h1>
    <div class="chain_link">
      <a href="{% url 'learning:level_list' %}">Học tiếng nhật theo chủ đề </a>
      /
      <a href="">Trò chơi luyện tập {{level}}</a>
    </div>
  </div>
</div>
<section class="crossword_list">
  {% for crossmap_item in crosslist %}
  <a
    class="crossword_card"
    href="{{crossmap_item.id}}"
  >
    <img
      src="{{crossmap_item.picture.url}}"
      class="crossword_img"
      alt=""
    />
    <h4>{{ crossmap_item.title }}</h4>
  </a>
  {% endfor %}
</section>
<section id="paginition">
  {% if crosslist.has_previous %}
  <a
    href="?page={{ crosslist.previous_page_number }}"
    class="page_item"
    >&lt</a
  >
  {% endif %}
  <a
    href="?page=1"
    class="page_item"
    >1</a
  >
  <div class="current_page">{{ crosslist.number }}</div>
  <a
    href="?page={{ crosslist.paginator.num_pages }}"
    class="page_item"
    >{{ crosslist.paginator.num_pages }}</a
  >
  {% if crosslist.has_next %}
  <a
    href="?page={{ crosslist.next_page_number }}"
    class="page_item"
    >&gt</a
  >

  {% endif %}
</section>
{% endblock %}
